.ResetCount {
    padding: 20px;
    transition: background 0.3s;
    background: #131111;
    border: none;
    border-radius: 30%;
    cursor: pointer;
}

.ResetCount:hover {
    background: #636262;
}